/*---BODY---*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('voto.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---FOOTER---*/
footer{
    color: black;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 0.7rem;
}

/*FORMULARIO*/
.login-container {
    background-color: rgba(7, 7, 7, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    color:white
}

label {
    margin-bottom: 10px;
}

select, button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color:blue;
}

select{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    border: none;
    color: white;
}

h2{
    color: white;
}

/* Media queries para dispositivos más pequeños */
@media only screen and (max-width: 600px) {
    .table-container {
        max-width: 90%; /* Ancho máximo ajustado para dispositivos más pequeños */
    }
    main{
        height: 90vh;
    }
}

@media only screen and (max-width: 900px){
    main{
        height: 100vh;
    }
}

@media only screen and (max-width: 1200px){
    main{
        height: 100vh;
    }
}